<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <link href='css/fonts.googleapis.com.css' rel='stylesheet' type='text/css'/>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font.css" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <!-- //font-awesome icons -->
</head>
<body class="error-body">
<div class="agile-signup">

    <div class="error-page">
        <img src="images/error.png" alt=""/>
    </div>

    <div class="go-back">
        <a href="/index">返回主页</a>
    </div>

    <!-- footer -->
    <div class="copyright">
        <p>&copy; 2018 XIAOKANG❤XINGXING</p>
    </div>
    <!-- //footer -->
</div>

</body>
</html>
