<html xmlns:th="http://www.thymeleaf.org">
<nav class="main-menu">
    <ul>
        <li>
            <a href="/index">
                <i class="fa fa-home nav_icon"></i>
                <span class="nav-text">
					Home
					</span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="javascript:;">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span class="nav-text">
					班级管理
				</span>
                <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a class="subnav-text" href="/class">
                        查看班级
                    </a>
                </li>
                <li>
                    <a class="subnav-text" href="/addclass">
                        添加班级
                    </a>
                </li>
            </ul>
        </li>
        <li class="has-subnav">
            <a href="javascript:;">
                <i class="fa fa-check-square-o nav_icon"></i>
                <span class="nav-text">
				学员管理
				</span>
                <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a class="subnav-text" href="/stuShow">查看学员</a>
                </li>
                <li>
                    <a class="subnav-text" href="/addStu">添加学员</a>
                </li>
            </ul>
        </li>

        <li class="has-subnav">
            <a href="javascript:;">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <span class="nav-text">联系人分组</span>
                <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a class="subnav-text" href="/findGroup">查看分组</a>
                </li>
                <li>
                    <a class="subnav-text" href="/getStudentByCid?id=">新建分组</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/moneyDetail">
                <i class="fa fa-file-text-o nav_icon"></i>
                <span class="nav-text">
						学生零用钱
					</span>
            </a>
        </li>
        <li>
            <a href="/findMoneyByMoney">
                <i class="icon-font nav-icon"></i>
                <span class="nav-text">
					欠款学生
					</span>
            </a>
        </li>
        <li>
            <a href="/tosms">
                <i class="fa fa-bar-chart nav_icon"></i>
                <span class="nav-text">
						发短信
					</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="icon-table nav-icon"></i>
                <span class="nav-text">
					个人信息
					</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="nav-text">
					修改密码
					</span>
            </a>
        </li>
        <!--<li>
            <a href="error.html">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span class="nav-text">
					Error Page
					</span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="javascript:;">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <span class="nav-text">Extras</span>
                <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a class="subnav-text" href="faq.html">FAQ</a>
                </li>
                <li>
                    <a class="subnav-text" href="blank.html">Blank Page</a>
                </li>
            </ul>
        </li>-->
    </ul>
    <ul class="logout">
        <li>
            <a href="javascript:void(0);" onclick="logout()">
                <i class="icon-off nav-icon"></i>
                <span class="nav-text">
			退出登录
			</span>
            </a>
        </li>
    </ul>
</nav>
</html>