<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发送短信</title>
    <div th:replace="header :: html"></div>
    <script type="text/javascript">
        function submit_add() {
            var gid = $("#selector1").val();
            var centent = $("#txtarea1").val();

            if (centent == '') {
                alert("填写短信内容");
                return false;
            }

            var group = {};
            group.centent = centent;
            group.gid = gid;

            var json = JSON.stringify(group);

            $.ajax({
                type: "POST",
                url: "/sendSms",
                contentType: 'application/json;charset=utf-8',
                data: json,
                dataType: "json",
                success: function (response) {
                    if (response.rspCode == '000000') {
                        alert('发送成功');
                    } else {
                        alert(response.rspMsg);
                    }
                }
            });
        }

    </script>
    <script src="js/bootstrap.js"></script>
    <script src="js/proton.js"></script>
    <script type="text/javascript" src="js/valida.2.1.6.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#version').valida('version');

            $('.valida').valida();
        });
    </script>
    <!-- //input-forms -->
    <!--validator js-->
    <script src="js/validator.min.js"></script>
</head>
<body class="dashboard-page">

<div th:replace="menu :: html"></div>
<section class="wrapper scrollable">
    <nav class="user-menu">
        <a href="javascript:;" class="main-menu-access">
            <i class="icon-proton-logo"></i>
            <i class="icon-reorder"></i>
        </a>
    </nav>

    <div th:replace="search :: html"></div>

    <div class="main-grid">
        <div class="agile-grids">
            <!-- validation -->
            <div class="grids">
                <div class="progressbar-heading grids-heading">
                    <h2>
                        发送短信
                    </h2>
                </div>

                <div class="forms-grids">
                    <div class="w3agile-validation">
                        <div class="panel panel-widget agile-validation">
                            <div class="my-div">
                                <form class="valida">

                                    <div class="input-info">
                                        <h3>选择分组:</h3>
                                    </div>


                                    <label for="selector1"><span style="font-size:14px;color:000000;">选择分组</span></label>
                                    <div class="form-group" >
                                        <select name="selector1" id="selector1" class="form-control1" onchange="change();">
                                            <option th:each="g : ${groups}" th:value="${g.id}" th:text="${g.groupName}" th:selected="(${g.id} == ${defaultFavorties})"></option>
                                        </select>
                                    </div>


                                    <label for="txtarea1"><span  style="font-size:14px;color:000000;">短信内容</span></label>
                                               <div class="form-group">
                                        <!--<label for="txtarea1" class="col-sm-2 control-label">短信内容</label>-->
                                        <!--<div class="col-sm-8">-->
                                            <textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control"></textarea>
                                        <!--</div>-->
                                    </div>

                                    <hr>

                                    <p>
                                        <input onclick="submit_add();" type="button" name="sub" value="确认发送" class="btn btn-primary">
                                        <input type="reset" name="res-1" id="res-1" value="Reset" class="btn btn-danger">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //validation -->
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <p>&copy; 2018 XIAOKANG❤XINGXING</p>
    </div>
    <!-- //footer -->
</section>


<!-- input-forms -->

</body>
</html>
